.container {
    display: flex;
    flex-direction: row;  
    width: 500px;  
}
.white-area {
    margin-top: 5px;
    margin-left: 24px;
} 
.white-area p {
    color: rgb(240, 74, 74);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 16px;  
}
nav {
        background-color: rgb(248, 155, 170);
        display: flex;
        padding-right: 10px;
        padding-bottom: 60%;
}
main div a {
    /* link color works on index page only!! */
    color: rgb(240, 74, 74)
}
main div {
    border: solid 1px rgb(248, 155, 170);
    margin: 5px;
    font-size: 28px;
}
header {
    /* header is all set */
    background-color: rgb(248, 155, 170);
    padding-bottom: 5px;
    padding-left: 9px;
    padding-top: 1px;
}
.headfont { 
    /* I removed the hyperlink */
    text-decoration: none;
}
h1 {
    /* font inside the header seems right. */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
ul{
    margin-left: -2px;
    font-size: 16px;
}
li {
    /* white bullets are all set. Adjust padding */
    color: white;
    padding-left: 5px;
}